.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  font-size: 4em;
  margin: 1em;
}

h3 {
  text-align: center;
  margin: 1em;
}

.picturecontainer {
  display: flex;
  justify-content: center;
  align-self: center;
}
