.navbar-nav {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  margin-right: 1em;
}

h1 {
  margin-top: 3em;
}

.logincontainer {
  padding-top: 1em;
  width: auto;
  text-align: center;
}
