<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="width: 100%">
        <a class="nav-link active" aria-current="page" href="landingpage" style="padding: 2em">Home</a>
        <a class="nav-link" href="books" style="padding: 2em">Books</a>
        <a class="nav-link" href="#" style="padding: 2em">Members</a>
        <a class="nav-link" href="#" style="padding: 2em">Borrows</a>
        <a class="nav-link" href="#" style="padding: 2em;width: 100%;text-align: right">Logout</a>
      </div>
    </div>
  </div>
</nav>
