h2 {
  text-align: center;
  padding: 1em;
  font-size: 3.5em;
}

h3 {
  text-align: center;
  margin-bottom: 2em;
}

#addon-wrapping {
  width: 7em;
}

.input-group {
  width: 80%;
}

.mycontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  margin-top: 3em;
}

fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
}

.outer-container {
  width: 100%;
  display: flex;
}

.pw-mod {
  width: 49.75%;
}

.data-mod {
  width: 49.75%;
}

.pw-mod > .mycontainer {
  margin-top: 8em;
}

.divider {
  width: 0.5%;
  background-color: #212529;
  border-radius: 1em;
}

.show:hover{
  cursor: pointer;
}
